<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJqAoeaeOMCzpLt9rKeCegI4IwLd8KrvY</string>
	<key>GCM_SENDER_ID</key>
	<string>151947208888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmLinker</string>
	<key>PROJECT_ID</key>
	<string>farm-linker</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-linker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151947208888:ios:1183876b57bfb111146c4d</string>
	<key>DATABASE_URL</key>
	<string>https://farm-linker-default-rtdb.firebaseio.com</string>
</dict>
</plist>